.wrapper,
input,
.box,
.box hr {
  width: 100%;
}

.title,
.header,
form {
  font-weight: 400;
}

.title,
.header,
form a,
aside a {
  color: #0d2c6c;
}

form a,
aside a {
  text-decoration: none;
}

.wrapper {
  text-align: center;
  max-width: 800px;
  padding: 20px;
  margin: 40px auto;
}

.title {
  font-size: 48px;
  margin-bottom: 30px;
}

.info {
  background: rgb(156, 201, 243, 0.05);
  padding: 50px;
  width: 80%;
  margin: auto;
}

.header {
  text-align: left;
  font-size: 36px;
  margin: 10px 0 20px;
}

form {
  text-align: left;
  font-size: 28px;
  width: 400px;
}

.inputField2 {
  margin-top: 30px;
}

input {
  padding: 10px;
  margin-top: 15px;
  font-size: 24px;
  border: 1px solid #0d2c6c;
  border-radius: 12px;
}

form a {
  font-size: 16px;
}

form a:hover {
  font-size: 18px;
}

input:focus {
  outline: none;
}

button {
  padding: 10px 150px;
  font-size: 22px;
  background-color: #392e97;
  color: #ffffff;
  border-radius: 20px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  transition: 0.7s ease;
  opacity: 0.8;
}

aside {
  margin: 20px 35px;
}

aside a {
  font-size: 22px;
}

aside a:hover {
  font-weight: bold;
}

.box {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  margin-bottom: 10px;
}

.box p {
  white-space: nowrap;
}

@media (max-width: 737px) {
  .wrapper,
  .info,
  section,
  form {
    width: 100%;
  }

  .title {
    font-size: 36px;
  }
  .header,
  form,
  input {
    font-size: 24px;
  }

  .info {
    margin: auto;
  }

  input {
    padding: 5px;
    font-size: 16px;
  }

  button {
    padding: 5px 80px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .wrapper,
  .info,
  form {
    width: 100%;
  }

  form {
    font-size: 18px;
  }

  form a {
    font-size: 14px;
  }

  button {
    padding: 5px 35px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 10px;
  }

  aside {
    margin: 0;
    padding-top: 20px;
  }

  .box {
    gap: 1.5px;
  }
  aside a {
    font-size: 18px;
  }
}
