@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans";
}

.wrapper {
  text-align: center;
  width: 500px;
  padding: 20px;
  margin: 40px auto;
}

.signin-info {
  background-color: rgb(156, 201, 243, 0.05);
  padding: 20px;
}

header {
  font-weight: 400;
  font-size: 48px;
  color: #0d2c6c;
  margin-bottom: 30px;
}

.header-p {
  text-align: left;
  font-weight: 400;
  font-size: 36px;
  color: #0d2c6c;
  margin: 20px;
}

form {
  text-align: left;
  font-weight: 400;
  font-size: 28px;
}

label {
  margin: 10px;
  padding: 10px;
}

input {
  padding: 10px;
  margin: 20px;
  font-size: 28px;
  border: 1px solid #0d2c6c;
  border-radius: 9px;
}

button {
  padding: 10px 150px;
  font-size: 22px;
  background-color: #392E97;
  color: #ffffff;
  border-radius: 15px;
  border: none;
  margin-right: 15px;
  cursor: pointer;
}

hr {
  margin: 20px 35px;
  width: 80%;
}

.new-here {
 width: 130px;
  margin: -25px auto 10px;
  background: #fff;
}

.create {
  color: #0D2C6C;
  font-size: 18px;
}